/****************************
            general
*****************************/
@import url("https://v1.fontapi.ir/css/Vazir");
:root {
  --bs-body-font-family: "Vazir";
  --bs-primary: #2196f3;
  --bs-secondary: #4c5c84;
  --bs-primary-rgb: 33, 150, 243;
  --bs-secondary-rgb: 76, 92, 132;
  --body-bg: #eceeef;
  --bg-indigo: rgb(79 70 229);
}
html,
:root {
  direction: rtl;
}
a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  color: inherit;
}
img {
  width: 100%;
  height: 100%;
}
ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}
.rounded-5 {
  border-radius: 0.5rem;
}
body {
  background-color: var(--body-bg);
}
body > *:not(footer) {
  margin-bottom: 2rem;
}
/****************************
            Header
*****************************/
.page-header .navbar-toggler:focus {
  box-shadow: none;
}
.page-header .account-btn {
}
.page-header .account-text {
  transition: all 1s;
  width: 0;
  height: 0;
}
.page-header .left-nav-panel {
  transition: all 1s;
}
@media (min-width: 576px) {
  .page-header .left-nav-panel {
    flex-grow: 1;
  }
  @media (min-width: 992px) {
    .page-header .left-nav-panel {
      flex-grow: 0;
    }
  }
  .page-header .account-text {
    width: auto;
    height: auto;
  }
}
.page-header .navbar-circle-btn {
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--body-bg);
  border: none;
  padding: 0;
}
.page-header .navbar-circle-btn:hover {
  background-color: var(--bs-secondary);
}
.page-header form {
  max-width: 550px;
  margin: 0;
}
.page-header .input-group input {
  background-color: var(--body-bg);
  direction: rtl;
  padding: 0.5rem 1rem;
  padding-right: 2rem;
}
.page-header .input-group .search_submit-btn {
  right: 0.75rem;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  outline: none;
  border: none;
}
.page-header .dropdown:hover .dropdown-menu:not(.mega-menu) {
  display: block;
}
.page-header .nav-link {
  color: var(--bs-secondary) !important;
}
.page-header .nav-link:hover {
  color: var(--bs-primary) !important;
}
.page-header .dropdown-toggle {
  color: var(--bs-secondary) !important;
  display: flex;
  align-items: center;
  gap: 0.25rem;
}
.page-header .dropdown-menu {
  right: 0;
  top: 100%;
  left: initial;
}
.page-header .dropdown-menu .dropdown-item {
  text-align: right;
}
.page-header .mega-menu {
  width: 80vw;
  right: 0;
  transform: translateX(50%);
  font-size: 0.9rem;
}
.page-header .mega-menu h3 {
  font-size: inherit;
  font-weight: bolder;
  text-align: right;
}
.page-header .mega-menu-links > ul {
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.page-header .mega-menu-links ul li {
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  list-style: none;
}
.page-header .mega-menu-links ul li a {
  color: rgb(0, 0, 0, 0.7);
  text-decoration: none;
  font-weight: 500;
}
.page-header .mega-menu-links ul li a:hover {
  color: var(--bs-primary);
}
.page-header .side-navbar {
  transition: transform 1s;
  transform: translateX(100%);
  right: 0;
  top: 0;
  width: 25vw;
  min-width: 240px;
}

.page-header .side-navbar .search_submit-btn {
  right: initial;
  left: 1rem;
}
.page-header .side-navbar-scrollable {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.page-header .side-navbar-scrollable::-webkit-scrollbar {
  display: none;
}
.page-header .left-nav-panel .dropdown ul {
  transform: translateX(50%);
  top: 100%;
  width: max-content;
  max-width: 500px;
}
.page-header
  .left-nav-panel
  .dropdown:hover
  .navbar-circle-btn
  > .cart-badge-btn {
  opacity: 0;
}
.page-header .cart-badge-btn {
  transform: translate(0, -30%);
}

/****************************
            Footer
*****************************/
footer {
  font-size: 0.9rem;
  text-align: justify;
  line-height: 1.8;
}
footer .footer-top {
  background-color: #334155;
}
footer .footer-about {
}
footer .address-item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
footer address p {
  margin-bottom: 0;
}
footer .address-item i {
  display: flex;
  justify-content: center;
  width: 10px;
}

footer .item-title::before {
  content: "";
  display: inline-block;
  width: 0.5rem;
  height: 0.5rem;
  background-color: white;
  border-radius: 50%;
  vertical-align: middle;
  margin-left: 0.2rem;
}
footer .footer-menu > li {
  width: auto;
}
footer .footer-link::before {
  content: "-";
  display: inline-block;
  overflow: hidden;
  font-weight: bold;
  transition: all 0.5s;
  vertical-align: middle;
  width: 0;
}
footer .footer-link:hover::before {
  width: 0.5rem;
}
footer .footer-rss .input-group-text {
  border: 0;
  font-size: 0.8rem;
  z-index: 4;
  top: 0;
  bottom: 0;
  background-color: transparent;
}
footer .footer-rss button.input-group-text {
  width: 4rem;
  left: 0;
}
footer .footer-rss input {
  padding-left: 4.1rem;
  padding-right: 2.4rem;
  font-size: 0.9rem;
}
footer .envelope-icon {
  font-size: 1.4rem !important;
  opacity: 0.7;
}
footer .trust-box .trust-item {
  width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 10%;
  background-color: rgb(255 255 255 / 8%);
}
@media (min-width: 768px) {
  footer .footer-rss {
    width: 100%;
  }
}
@media (min-width: 991px) {
  footer .footer-rss {
    width: 33.3333333333%;
  }
}
footer .social-item:hover {
  color: var(--shc, black) !important;
}

/************************
        main
************************/
main > .container > section {
  margin-bottom: 1rem;
  overflow: hidden;
}
.main-title::before {
  display: inline-block;
  content: "";
  width: 0.75rem;
  height: 0.75rem;
  background-color: var(--bs-primary);
  vertical-align: middle;
  margin-left: 0.5rem;
  border-radius: 50%;
}
/************************
        main-Banner
************************/
main section.main-banner {
  width: 100%;
  height: 300px;
}
main section.main-banner img {
  object-fit: cover;
  transition: all 0.5s;
}
main section.main-banner:hover img {
  filter: brightness(60%);
}

/************************
        main-btn_cat
************************/
main section.main-btn_cat .card {
  background-image: url(../images/symbols/cat-tiles-bg.png);
  padding: 1.5rem 1rem;
  display: flex;
  align-items: center;
  color: white;
  transition: all 0.2s;
}
main section.main-btn_cat .card:hover {
  opacity: 0.9;
}
/************************
        main-new_courses
************************/
main section.main-new_courses .card {
  flex-shrink: 0;
  padding: 1rem;
  border-radius: 1rem;
  color: white;
}
main section.main-new_courses .card .card-img-top {
  background: linear-gradient(
    120deg,
    var(--fc, rgb(59, 59, 59)),
    var(--sc, #ccc)
  );
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
main section.main-new_courses .card .card-img-img {
  width: 100%;
  height: 100px;
  font-size: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
main section.main-new_courses .card .card-title {
  font-size: 1rem;
}
main section.main-new_courses .card .card-subtitle {
  font-size: 0.8rem;
}
main section.main-new_courses .card .card-footer,
main section.main-new_courses .card .card-body {
  color: var(--bs-secondary);
}
main section.main-new_courses .card .card-footer {
  background-color: inherit;
}
main section.main-new_courses .card-play {
  width: 1.75rem;
  height: 1.75rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 0;
  background-color: rgb(0, 0, 0, 0.4);
  border-radius: 50%;
  vertical-align: middle;
}
main section.main-new_courses .card-play:hover {
  background-color: white;
}
main section.main-new_courses .card-status {
  font-size: 0.6rem;
  padding: 0.1rem 0.5rem;
  border-radius: 0.2rem;
  background-color: var(--card-status-bg, #222);
}
main section.main-new_courses .card-off {
  position: absolute;
  transform: translate(-10%, -20%) rotate(315deg);

  top: 0;
  left: 0;
  font-size: 0.7rem;
  font-weight: bolder;
  width: 3.5rem;
  height: 3.5rem;
  border: 4px solid white;
  border-radius: 50%;
  overflow: hidden;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #2196f3;
  transition: all 0.2s;
}
main section.main-new_courses .card:hover .card-off {
  transform: translate(-10%, -20%) rotate(360deg);
}
main section.main-new_courses .card-subtitle img {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  overflow: hidden;
}
main section.main-new_courses .card-confirm {
  color: var(--bs-primary);
}
main section.main-instagram{
  background:linear-gradient(to left, #f3642c,#db356b,#9233c1);
  margin-top: 100px;
}
main section.main-instagram .instagram-btn{
  color:#9233c1;

}
main section.main-instagram .instagram-btn:hover{
 background-color: transparent;
 color:white;
}
main section.main-instagram .instagram-img{
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%,10%);
  width: 300px;
  height: 200px;

}
main section.main-instagram .instagram_img-wrapper{
  height: 50px;
  width: 250px;
  position: relative;
}