.badge {
  width: 1.5rem;
  height: 1.5rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
/************************
          main-course
  ************************/
main section.main-course .card {
  flex-shrink: 0;
  padding: 1rem;
  border-radius: 1rem;
}
main section.main-course .card-off {
  width: 50px;
  height: 50px;
  line-height: 1rem;
}
main section.main-course .card .card-img-top {
  padding: 0;
  color: white;
  width: 100%;
  /* height: 250px; */
  display: flex;
  justify-content: center;
  align-items: center;
}
main section.main-course .card .card-img-img {
  width: 100%;
  height: 100%;
  font-size: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

main section.main-course .card .card-footer {
  background-color: inherit;
}

main section.main-course .card-status {
  font-size: 0.6rem;
  padding: 0.1rem 0.5rem;
  border-radius: 0.2rem;
}

main section.main-course .card-confirm {
  color: var(--bs-primary);
}

/************************
          course-introduce
  ***************************/
.course-introduce ul,
.course-introduce li {
  list-style: disc;
  list-style-position: inside !important;
}

/************************
        course-sessions
***************************/
section.course-sessions .accordion-button::after {
  margin-left: 0;
}
section.course-sessions .accordion-button.private::after {
  content: none;
}
section.course-sessions .accordion-button {
  outline: none;
  border: 0;
  box-shadow: none;
  color: var(--bs-secondary);
}
section.course-sessions .accordion-button:hover {
  background-color: #e6e4e456;
}
section.course-sessions .accordion-button:not(.collapsed) {
  background-color: #e6e4e456;
}
section.course-sessions .accordion-collapse {
  background-color: #e6e4e456;
}

/************************
        reviews
***************************/
section.reviews .form-control {
  box-shadow: none;
  border-width: 0.1rem;
}
section.reviews .form-control:focus {
  box-shadow: 0 0 0 2px #2196f3;
}
